In [9]:
import pandas as pd
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)
df.isna().sum()

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [2]:
# To check the number of rows and columns using Pandas DataFrame, use the .shape attribute
rows, columns = df.shape

# Display the number of rows and columns
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 391
Number of columns: 11

In [3]:
#Observations in a data set are specific sets of information about the data and what it is e.g. name, age, etc. The number of observations are directly related to the number of rows.
#Variables are the features that descibe the observations within a dataset. Varibles directly correlate with the number of columns. Each column is a variable.

In [7]:
# General summary for numerical columns using the df.describe() simple summary method
summary = df.describe()

# Summary for categorical columns
summary_categorical = df.describe(include='object')

# Display the summaries
print(summary)            # For numerical columns
print(summary_categorical) # For categorical columns

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

In [8]:
#This uses df['column'].value_counts() in order to see the occurences of each unique value per column  
#Count the number of villagers per species. 
species_counts = df['species'].value_counts()

# Count the number of villagers per personality type
personality_counts = df['personality'].value_counts()

# Display the results
print(species_counts)      # For species column
print(personality_counts)   # For personality column

species
cat          23
rabbit       20
frog         18
squirrel     18
duck         17
dog          16
cub          16
pig          15
bear         15
mouse        15
horse        15
bird         13
penguin      13
sheep        13
elephant     11
wolf         11
ostrich      10
deer         10
eagle         9
gorilla       9
chicken       9
koala         9
goat          8
hamster       8
kangaroo      8
monkey        8
anteater      7
hippo         7
tiger         7
alligator     7
lion          7
bull          6
rhino         6
cow           4
octopus       3
Name: count, dtype: int64
personality
lazy      60
normal    59
cranky    55
snooty    55
jock      55
peppy     49
smug      34
uchi      24
Name: count, dtype: int64

In [11]:
import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Get the shape of the DataFrame (total number of rows and columns)
shape = df.shape
print(f"Shape of the DataFrame: {shape[0]} rows, {shape[1]} columns")

# Get the summary statistics for numeric columns
numeric_summary = df.describe()
print("\nSummary of numeric columns:")
print(numeric_summary)

# Get the summary statistics for non-numeric (categorical) columns
categorical_summary = df.describe(include='object')
print("\nSummary of categorical columns:")
print(categorical_summary)

# Check for missing values in numeric columns and compare with 'count' in describe()
numeric_columns = df.select_dtypes(include=['int64', 'float64'])
missing_numeric_values = numeric_columns.isna().sum()
print("\nMissing values in numeric columns:")
print(missing_numeric_values)

# Check for missing values in all columns
missing_values = df.isna().sum()
print("\nMissing values in all columns:")
print(missing_values)

# Compare the 'count' reported by df.describe() to df.shape[0] for each numeric column
print("\nComparison of 'count' from df.describe() with total rows in df.shape:")
for column in numeric_columns.columns:
    print(f"{column}: describe() count = {numeric_summary.loc['count', column]}, total rows = {shape[0]}")

Shape of the DataFrame: 391 rows, 11 columns

Summary of numeric columns:
            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

Summary of categorical columns:
             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

Missing values in numeric columns:
row_n    0
dtype: int64

Missing values in all columns:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

Comparison of 'count' from df.describe() with total rows in df.shape:
row_n: describe() count = 391.0, total rows = 391

In [14]:
include='object'

In [12]:
df.shape

(391, 11)

In [13]:
df.describe()

            row_n
count  391.000000
mean   239.902813
std    140.702672
min      2.000000
25%    117.500000
50%    240.000000
75%    363.500000
max    483.000000

In [15]:
#Checking what went wrong with the discrpencies and why I have the same number for both "df.describe," and "df.shape." import pandas as pd

# Load the dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Get the shape of the DataFrame
shape = df.shape
print(f"Shape of the DataFrame: {shape[0]} rows, {shape[1]} columns")

# Check missing values in each column
missing_values = df.isna().sum()
print("\nMissing values in each column:")
print(missing_values)

# Summary for all columns including non-numeric
summary_all = df.describe(include='all')
print("\nSummary of all columns:")
print(summary_all)

# Check missing values specifically for the 'song' column
print("\nMissing values in 'song' column:")
print(df['song'].isna().sum())

Shape of the DataFrame: 391 rows, 11 columns

Missing values in each column:
row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

Summary of all columns:
             row_n       id     name gender species birthday personality  \
count   391.000000      390      391    391     391      391         391
unique         NaN      390      391      2      35      361           8
top            NaN  admiral  Admiral   male     cat     1-27        lazy
freq           NaN        1        1    204      23        2          60
mean    239.902813      NaN      NaN    NaN     NaN      NaN         NaN
std     140.702672      NaN      NaN    NaN     NaN      NaN         NaN
min       2.000000      NaN      NaN    NaN     NaN      NaN         NaN
25%     117.500000      NaN      NaN    NaN     NaN      NaN         NaN
50%     240.000000      NaN      NaN    NaN     NaN      NaN         NaN
75%     363.500000      NaN      NaN    NaN     NaN      NaN         NaN
max     483.000000      NaN      NaN    NaN     NaN      NaN         NaN

                song   phrase           full_id  \
count            380      391               391
unique            92      388               391
top     K.K. Country  wee one  villager-admiral
freq              10        2                 1
mean             NaN      NaN               NaN
std              NaN      NaN               NaN
min              NaN      NaN               NaN
25%              NaN      NaN               NaN
50%              NaN      NaN               NaN
75%              NaN      NaN               NaN
max              NaN      NaN               NaN

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

Missing values in 'song' column:
11

In [16]:
# Summary of all columns including non-numeric
print(df.describe(include='all'))

             row_n       id     name gender species birthday personality  \
count   391.000000      390      391    391     391      391         391
unique         NaN      390      391      2      35      361           8
top            NaN  admiral  Admiral   male     cat     1-27        lazy
freq           NaN        1        1    204      23        2          60
mean    239.902813      NaN      NaN    NaN     NaN      NaN         NaN
std     140.702672      NaN      NaN    NaN     NaN      NaN         NaN
min       2.000000      NaN      NaN    NaN     NaN      NaN         NaN
25%     117.500000      NaN      NaN    NaN     NaN      NaN         NaN
50%     240.000000      NaN      NaN    NaN     NaN      NaN         NaN
75%     363.500000      NaN      NaN    NaN     NaN      NaN         NaN
max     483.000000      NaN      NaN    NaN     NaN      NaN         NaN

                song   phrase           full_id  \
count            380      391               391
unique            92      388               391
top     K.K. Country  wee one  villager-admiral
freq              10        2                 1
mean             NaN      NaN               NaN
std              NaN      NaN               NaN
min              NaN      NaN               NaN
25%              NaN      NaN               NaN
50%              NaN      NaN               NaN
75%              NaN      NaN               NaN
max              NaN      NaN               NaN

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

In [17]:
# Check missing values for all columns
missing_values = df.isna().sum()
print(missing_values)

row_n           0
id              1
name            0
gender          0
species         0
birthday        0
personality     0
song           11
phrase          0
full_id         0
url             0
dtype: int64

In [18]:
# Check missing values for the 'song' column
print(df['song'].isna().sum())

11

In [19]:
# Summary for categorical columns
print(df.describe(include='object'))

             id     name gender species birthday personality          song  \
count       390      391    391     391      391         391           380
unique      390      391      2      35      361           8            92
top     admiral  Admiral   male     cat     1-27        lazy  K.K. Country
freq          1        1    204      23        2          60            10

         phrase           full_id  \
count       391               391
unique      388               391
top     wee one  villager-admiral
freq          2                 1

                                                      url
count                                                 391
unique                                                391
top     https://villagerdb.com/images/villagers/thumb/...
freq                                                    1

In [20]:
df.describe(include='object')

,id,name,gender,species,birthday,personality,song,phrase,full_id,url
count,390,391,391,391,391,391,380,391,391,391
unique,390,391,2,35,361,8,92,388,391,391
top,admiral,Admiral,male,cat,1-27,lazy,K.K. Country,wee one,villager-admiral,https://villagerdb.com/images/villagers/thumb/...
freq,1,1,204,23,2,60,10,2,1,1

In [10]:
#Using the titanic dataset provided to see the discrepencies since the animal crossing data set didn't work
import pandas as pd
second_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(second_url)
titanic_df.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [11]:
titanic_df.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [12]:
titanic_df.shape

(891, 15)

In [2]:
#An attribute is information about the DataFrame and it is without () as it doesn't perform any action. It simply retrieves information that is already known about the DataFrame.
#A method is like a function in math, if you give it an input it will give you an output. Methods often calculate statistics, modify the DataFrame, or retrieve processed data. They perform an operation. They include parenthesis unlike an attribute in the data set.

In [14]:
#Completed Pre Lecture.
#ChatGPT interaction url: https://chatgpt.com/share/4dbca6d3-7406-4a28-a3f9-e72239b2abdf

In [1]:
#Here are the descriptions for all of the variables in the titanic dataset df.describe () chart.
#'count'refers to the number of non missing values in a columns e.g. 891 passengers survived.
#'mean'means the average of non missing vlaues within the data set e.g. average fare rate was around 32.2.
#'std'stands for 'standard of deviation' and it looks at how spread out the data is from the mean. The larger the std value, the more widsepread the data and vice versa.
#'min'refers to the smallest value in the column just like in math!
#'25%'looks at the first quartile of the data also known as the lower end and how it behaves in the first 25%.
#'50%'is the second quartile or median where 50% of the data is either above or below the halfway point.
#'75%'means the third quartile and is the part of the data which 75% of the data lies on. It helps us understand the upper quadrant and its trends.
#'max'means the maximum value in the data set within each column.

In [11]:
#Discussing df.dropna and del df['col']
#'df.dropna' is used when we want to clean data sets without remvoing any columns. An example is in our animal crossing data sets. The songs are a missing variable so we can drop those rows but keep the "song" column for the other villigers who do know their favourite song.
#'del df ['col']' is the opposite of 'df.dropna' as it is used to remove entire columns. This function can help with removing irrelavent data or if there are too many missing values which leads to impractical use. An example is if the song column had too much missing data that it became useless, we could use use this function to remove the column comeptlely and clean our data set.
#We can use 'del df ['col']' before 'df.dropna' in order to remove an entire colmun that is irrelavent and instead just sift through the data that is important to us with the df.dropna() function.

In [9]:
#Chose the animal crossing data set and used df.dropna. I chose this function as it made more sense to clean a small set of data (having 11 missing values only) instead of removing a whole column. 

import pandas as pd

# Load the Animal Crossing dataset
url = "https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2020/2020-05-05/villagers.csv"
df = pd.read_csv(url)

# Verify that the dataset is loaded
print(df.head())  # Optional: to check if the data is loaded properly

   row_n       id     name  gender    species birthday personality  \
0      2  admiral  Admiral    male       bird     1-27      cranky
1      3  agent-s  Agent S  female   squirrel      7-2       peppy
2      4    agnes    Agnes  female        pig     4-21        uchi
3      6       al       Al    male    gorilla    10-18        lazy
4      7  alfonso  Alfonso    male  alligator      6-9        lazy

          song    phrase           full_id  \
0   Steep Hill   aye aye  villager-admiral
1      DJ K.K.  sidekick  villager-agent-s
2   K.K. House   snuffle    villager-agnes
3   Steep Hill   Ayyeeee       villager-al
4  Forest Life  it'sa me  villager-alfonso

                                                 url
0  https://villagerdb.com/images/villagers/thumb/...
1  https://villagerdb.com/images/villagers/thumb/...
2  https://villagerdb.com/images/villagers/thumb/...
3  https://villagerdb.com/images/villagers/thumb/...
4  https://villagerdb.com/images/villagers/thumb/...

In [10]:
# Drop rows where 'song' column has NaN (missing) values
df_cleaned = df.dropna(subset=['song'])

# Optional: Verify that rows with missing 'song' values are removed
print(df_cleaned.isna().sum())  # This should show no missing values in 'song'

row_n          0
id             1
name           0
gender         0
species        0
birthday       0
personality    0
song           0
phrase         0
full_id        0
url            0
dtype: int64

In [16]:
#From the titanic data set, I chose to compare the 'deck' values with 'class' which is different than what ChatGPT provided me with. The 'df.groupby("col1")["col2"].describe()' function is used to compare statistics accross different columns in the data set, examining the relationship between column one and column two.   

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and describe the 'age' column
deck_summary_by_class = df.groupby("class")["deck"].describe()

# Display the result
print(deck_summary_by_class)

#Included this in order to give a summary of the statistics using df.describe().
print(df.describe(include='all'))

       count unique top freq
class
First    175      5   C   59
Second    16      3   F    8
Third     12      3   F    5
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN

In [2]:
#Intentionally forgetting to include 'import pandas as pd' in code after restarting Kernel.
#Chatbot immediately understood the problem and troubleshooted it! It fixed my coding error saying that I am using pandas but haven't imported it yet. It suggest that I should start my script with importing pandas. Use of Google wasn't needed.

second_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
titanic_df = pd.read_csv(second_url)
titanic_df.isna().sum()

NameError: name 'pd' is not defined

In [5]:
#Intentionally putting 'titanics.csv'
#Chatbot had a slightly harder time troubleshooting. It fixed the error after 2 tries. It first thought that I wasn't passing the URL until it realized that I did not input the file name correctly, mispelling it. Use of Google wasn't needed.

import pandas as pd
second_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanics.csv"
titanics_df = pd.read_csv(second_url)
titanics_df.isna().sum()

HTTPError: HTTP Error 404: Not Found

In [7]:
#Misnaming the variable intentionally as 'DF' instead of 'df', file name has been corrected. 
#Chatbot was not helpful. It did not realize that I misnamed the DF variable, it kept telling me to see if the columns in my data set existed. So, I checked how to troubleshoot the error using Google and it told me that is was misnamed and to change to lower case 'df'.

import pandas as pd

# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and describe the 'age' column
deck_summary_by_class = DF.groupby("deck")["class"].describe()

# Display the result
print(deck_summary_by_class)

#Included this in order to give a summary of the statistics using df.describe().
print(df.describe(include='all'))

NameError: name 'DF' is not defined

In [3]:
#Forgot one of the parentheses somewhere the code.
#Chatbot was sufficent to use to troubleshoot the error, however, it lacked specificity of how I should fix the error until I asked another question with more specific descriptions. At first it gave me another code to use, but once I asked it to tell me my exact mistake, it told me that there must be two parenthesis. 

import pandas as pd
# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url

# Group by 'sex' and describe the 'age' column
deck_summary_by_class = DF.groupby("deck")["class"].describe()

# Display the result
print(deck_summary_by_class)

#Included this in order to give a summary of the statistics using df.describe().
print(df.describe(include='all'))

SyntaxError: '(' was never closed (3156448636.py, line 6)

In [9]:
#Mistyped one of the names of the chained functions with the code.
#Chatbot imediatley troubleshooted error and showed me that 'df-groupby' was an unrecognized function. It told me the correct functions is 'df.groupby.'

import pandas as pd
# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and describe the 'age' column
deck_summary_by_class = df_groupby("deck")["class"].describe()

# Display the result
print(deck_summary_by_class)

#Included this in order to give a summary of the statistics using df.describe().
print(df.describe(include='all'))

NameError: name 'df_groupby' is not defined

In [10]:
#Used a column name that's not in the data - pumpkin.
#Chatbot imediatley troubleshooted error and asked me to check if that the column names exist in the data set which 'pumpkin' does not, effectivley fixing the error.

import pandas as pd
# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and describe the 'age' column
deck_summary_by_pumpkin = df.groupby("pumpkin")["deck"].describe()

# Display the result
print(deck_summary_by_pumpkin)

#Included this in order to give a summary of the statistics using df.describe().
print(df.describe(include='all'))

KeyError: 'pumpkin'

In [11]:
#Forgot to put the column name as a string in quotes.
#Chatbot was able to recognize that the syntax was invalid and that 'class' should have quotations. Interestingly enough, I asked Google to help me troubleshoot the error and it said that no documents were found. Google wasn't able to give me a solution. 

import pandas as pd
# Load the Titanic dataset
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv"
df = pd.read_csv(url)

# Group by 'sex' and describe the 'age' column
deck_summary_by_class = df.groupby(class)["deck"].describe()

# Display the result
print(deck_summary_by_class)

#Included this in order to give a summary of the statistics using df.describe().
print(df.describe(include='all'))

SyntaxError: invalid syntax (1816498314.py, line 8)

In [ ]:
#Completed Post Lecture work
#ChatBot summary link #1 (Used this session to help me compelte the assignment): https://chatgpt.com/share/4dbca6d3-7406-4a28-a3f9-e72239b2abdf
#ChatBot summary link #2 (Used this session to troubleshoot errors for section 8.3): https://chatgpt.com/share/66e3b30f-533c-8000-adda-5eb4146b5491